

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background: url(../img/greyzz.png);
}

.container, .navbar, body {
	min-width: 1024px;
}

.jumbotron {
	background-image: url(../img/business-guy.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: relative;
	min-height: 350px;
}

.header-content {
	position: absolute;
	right: 20px;
	top: 10px;
	width: 40%;
}

h2 .header-content {
	color: #0C5D9E;
}

.navbar-brand {
	padding:0;
}








